<div class="image1">
    <div class="login-box">
    <!-- <img src="./thapar.png" class="avatar" alt="Avatar Image"> -->
    <div class="image"></div>
    <h1>Login Here</h1>
    <form (submit) = "onLoginSubmit()">
        
        <label for="username">Username</label>
        <input type="text" [(ngModel)] = "Roll_No" name="Roll_No" placeholder="Enter Username">

        <label for="password">Password</label>
        <input type="password" [(ngModel)] = "Password" name="Password" placeholder="Enter Password">
        <input type="submit" value="Login">
    </form>
    </div>
</div>