<div class="blurred-container">
<div class="image1"></div>
</div>
<h1 style="text-align:center;">Complaints Portal</h1>
<div class="jumbotron">
    <p>Our project "Online Hostel Complaint and Management System" aims on providing a web based complaint filling portal for students related to various services, in order to cater their needs in an efficient and effective way. This project intends to minimize human efforts and make complaint lodging an easier job for students and hostel.</p>
    <br>
    <p>The portal registers students who wants to lodge a complaint with his/her respective full details. After that the students can lodge their complaints through the portal, which will further be directed towards their respective Hostel Caretaker’s as well as the CMS department who will take consequent actions to provide the worker’s according to the complaints lodged by the students. Also the Caretaker and CMS department are provided full access through which they can manage the system so as to remove any discrepancy which occurs after lodging of the complaint and to make it works to its utmost.</p>
</div>